<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__STATIC__/plugins/layui/css/layui.css">
    <script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>

</head>
<body style="padding: 10px;">
    <form class="layui-form">
        <input type="hidden" name="id" value="<{$item.id}>">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="username" value="<{$item.username}>" {if condition="$item.id gt 0"}readonly{/if} >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角&nbsp;&nbsp;&nbsp;&nbsp;色</label>
            <div class="layui-input-inline">
                <select name="gid" id="">
                    <option value="0">未选择</option>
                    {volist name="groups" id="vo"}
                    {if condition="$vo.gid eq $item.gid"}
                    <option value="<{$vo.gid}>" selected><{$vo.title}></option>
                    {else /}
                    <option value="<{$vo.gid}>" ><{$vo.title}></option>
                    {/if}

                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="pwd">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓&nbsp;&nbsp;&nbsp;&nbsp;名</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="truename"value="<{$item.truename}>">
            </div>
        </div>
        <!--<div class="layui-inline">
            <label class="layui-form-label">年选择器</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="test2" placeholder="yyyy">
            </div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">状&nbsp;&nbsp;&nbsp;&nbsp;态</label>
            <div class="layui-input-inline">
                <input type="checkbox" name="status" lay-skin="primary" title="禁用" value="1" {if condition="$item.status eq 1"}checked{/if}>
            </div>
        </div>


    </form>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" onclick="save()">保存</button>
        </div>

    </div>
</body>
</html>
<script type="text/javascript">
    layui.use(['layer','form','laydate'],function () {
        form = layui.from;
        layer = layui.layer;
         laydate = layui.laydate;
        $ = layui.jquery;

        //常规用法
        laydate.render({
            elem: '#test2'
        });
    });


    //保存管理员
    function save() {
        var id = parseInt($('input[name="id"]').val());
        var username = $.trim($('input[name="username"]').val());
        var pwd = $.trim($('input[name="pwd"]').val());
        var gid = $('select[name="gid"]').val();
        var truename = $.trim($('input[name="truename"]').val());
        if(username == ''){
            layer.alert('请输入用户名',{icon:2});
            return
        }
        if(isNaN(id) && pwd == ''){
            layer.alert('请输入密码',{icon:2});
            return
        }
        if(gid==0){
            layer.alert('请选择角色',{icon:2});
            return
        }
        if(truename == ''){
            layer.alert('请输入真实姓名',{icon:2});
            return
        }
        $.post('/admins.php/admins/Admin/save',$('form').serialize(),function (res) {
            if(res.code >0){
                layer.alert(res.msg ,{icon:2});
            }else{
                layer.msg(res.msg);
                setTimeout(function () {
                    parent.window.location.reload();
                },1500)
            }
        },'json');
    }

</script>